<nav class="sidebar" [class.sidebar--hidden]="isSidebarHidden" id="sidebar">
    <div class="sidebar__container">
       <div class="sidebar__user">
          <div class="sidebar__img">
             <img src="#" alt="image">
          </div>

          <div class="sidebar__info">
             <h3>Estudiante</h3>
             <span>rix123email.com</span>
          </div>
       </div>

       <div class="sidebar__content">
          <div>
             <h3 class="sidebar__title">OPCIONES</h3>

             <div class="sidebar__list">
                <a  routerLink="/estudiante/dashboard" routerLinkActive="active" class="sidebar__link active-link">
                   <i class="ri-pie-chart-2-fill"></i>
                   <span>Inicio</span>
                </a>
                
                <a routerLink="/estudiante/dashboard/inscripciones" routerLinkActive="active" class="sidebar__link">
                   <i class="ri-wallet-3-fill"></i>
                   <span>Inscripciones</span>
                </a>

                <a routerLink="/estudiante/dashboard/asesores" routerLinkActive="active" class="sidebar__link">
                   <i class="ri-calendar-fill"></i>
                   <span>Seleccionar Asesor</span>
                </a>

                <a routerLink="/estudiante/dashboard/proyectos" routerLinkActive="active" class="sidebar__link">
                   <i class="ri-arrow-up-down-line"></i>
                   <span>Mis proyectos</span>
                </a>

                <a routerLink="/estudiante/dashboard/evaluaciones" routerLinkActive="active" class="sidebar__link">
                   <i class="ri-bar-chart-box-fill"></i>
                   <span>Evaluaciones</span>
                </a>

                <a routerLink="/estudiante/dashboard/mensajes" routerLinkActive="active" class="sidebar__link">
                  <i class="ri-bar-chart-box-fill"></i>
                  <span>G. Archivos</span>
               </a>

               <a routerLink="/estudiante/dashboard/pagos" routerLinkActive="active" class="sidebar__link">
                  <i class="ri-bar-chart-box-fill"></i>
                  <span>Pagos</span>
               </a>

               <a routerLink="/estudiante/dashboard/perfil" routerLinkActive="active" class="sidebar__link">
                  <i class="ri-bar-chart-box-fill"></i>
                  <span>Perfil</span>
               </a>
             </div>
          </div>
       </div>

       <div class="sidebar__actions">
          <button>
             <i class="ri-moon-clear-fill sidebar__link sidebar__theme" id="theme-button">
                <span>Theme</span>
             </i>
          </button>

          <button (click)="logout()" class="sidebar__link">
             <i class="ri-logout-box-r-fill"></i>
             <span>Log Out</span>
          </button>
       </div>
    </div>
 </nav>
